.blockWeatherForecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockIconDegree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockIconDegree img {
    width: 4.2rem;
    padding-bottom: .8rem;
}

.forecastDegreeMaxMin {
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    padding-left: .4rem;
}

.degreeMin {
    color: rgb(160, 160, 160);
}
